body{
  background: rgba(255,255,255,1);
}
.calendarTable{
  position:fixed;
  width:25em;
  height: 450px;
  border:2px solid #bc191a;
  background-color: #242424;
}
.calendarMonthTH{
  background: rgba(0,0,0,0.5);
  width:100%;
  height:63px;
}
.calendarMonthCell{
  text-align:center;
  width:6.05em;
  float:left;
  height: 100%;
  margin-right:0.2em;
  color:#a9a6a6;
  background-color: #bc191a;
}
.lastCalendarDayCell{
  width:6.25em;
  margin-right:0px;
}
.calendarMonthTHActive{
  color:#ffffff;
}
.calendarDayTH{
  width:100%;
  height:52px;
}
.calendarDayCell{
  float:left;
  width:14.285%;
  text-align:center;
  color:#ffffff;
  border-bottom:1px solid white;
}
.calendarDateCell{
  color:#c5c5c5;
  float:left;
  width:14.285%;
  text-align:center;
  margin-top:1em;
  border-bottom: 1px solid white;
}
.LastCalendarDateCell{
  border-bottom: 0px;
}
#calendarDateRow{
  height:335px;
  width:auto;
}
